.profile_quote {
	position: relative;
	/* margin-left: 5px; */
}
	.profile_quote p {
		font-size: 17px;
		width: 455px;
	}
	.profile_quote  .icon-quote-right {
		color: #3d3a41;
		font-size: 70px;
		position: absolute;
		top: 0;
		right: 70px;
		cursor: default;
	}

.philosophy_content {
	margin-top: 20px;
}
	.philosophy_content p {
		margin: 0;
		width: 370px;
		float: left;
	}
	.philosophy_content ul {
		float: left;
		padding-left: 40px;
	}